---
version: "2"

services:
  data:
    image: tianon/true
    volumes:
      - /aegisASU1Vault
      - /aegisUA1Vault
      - /hadesVault
      - /lucyVault
      - /snoopyVault
      - /var/lib/postgresql/data

  amqp:
    image: rabbitmq:3.5-management
    hostname: amqp
    env_file: env.properties
    ports:
      - 5672:5672
      - 15672:15672

  dbms:
    build:
      context: dbms
    hostname: dbms
    env_file: env.properties
    volumes_from:
      - data
    ports: 
      - 5432:5432

  base:
    build:
      context: base-3.3.1

  server:
    build:
      context: server-3.3.1

  ies:
    build:
      context: ies-3.3.1
    cap_add:
      - ALL
    env_file: env.properties
    environment:
      SSH_PORT: 1657
      SSH_USER: root
    hostname: ies
    links:
      - amqp
      - dbms
    tty: true
    volumes_from:
      - data

  rs:
    build:
      context: rs-3.3.1

  aegisasu1:
    image: irods_rs
    cap_add:
      - ALL
    hostname: aegisASU1
    env_file: env.properties
    environment:
      RESOURCE_DIR: /aegisASU1Vault
      RESOURCE_NAME: aegisASU1Res
      SSH_PORT: 22
      SSH_USER: ansible
    tty: true
    volumes_from:
      - data
    links:
      - ies

  aegisua1:
    image: irods_rs
    cap_add:
      - ALL
    hostname: aegisUA1
    env_file: env.properties
    environment:
      RESOURCE_DIR: /aegisUA1Vault
      RESOURCE_NAME: aegisUA1Res
      SSH_PORT: 22
      SSH_USER: ansible
    tty: true
    volumes_from:
      - data
    links:
      - ies

  hades:
    image: irods_rs
    cap_add:
      - ALL
    hostname: hades
    env_file: env.properties
    environment:
      RESOURCE_DIR: /hadesVault
      RESOURCE_NAME: hadesRes
      SSH_PORT: 1657
      SSH_USER: root
    tty: true
    volumes_from:
      - data
    links:
      - ies

  lucy:
    image: irods_rs
    cap_add:
      - ALL
    hostname: lucy
    env_file: env.properties
    environment:
      RESOURCE_DIR: /lucyVault
      RESOURCE_NAME: lucyRes
      SSH_PORT: 1657
      SSH_USER: root
    tty: true
    volumes_from:
      - data
    links:
      - ies

  snoopy:
    image: irods_rs
    cap_add:
      - ALL
    hostname: snoopy
    env_file: env.properties
    environment:
      RESOURCE_DIR: /snoopyVault
      RESOURCE_NAME: snoopyRes
      SSH_PORT: 1657
      SSH_USER: root
    tty: true
    volumes_from:
      - data
    links:
      - ies

  icommands:
    build:
      context: icommands-3.3.1
    env_file: env.properties
    links:
      - aegisasu1
      - aegisua1
      - ies
      - hades
      - lucy
      - snoopy

  ansible:
    build:
      context: ansible
    hostname: ansible
    volumes:
      - ~/repos/irods4-upgrade:/playbooks
    links:
      - aegisasu1
      - aegisua1
      - dbms
      - ies
      - hades
      - lucy
      - snoopy
