aegisdata:
  image: tianon/true
  volumes:
    - /home/irods/aegisVault

dbmsdata:
  image: tianon/true
  volumes:
    - /var/lib/postgresql/data

rsdata:
  image: tianon/true
  volumes:
    - /home/irods/iRODS/Vault

dbms:
  build: irods3.3.1-dbms
  hostname: dbms
  env_file: env.properties
  mem_limit: 2g
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup:ro 
  volumes_from:
    - dbmsdata

ies:
  build: irods3.3.1-ies
  env_file: env.properties
  hostname: ies
  links:
    - dbms
    - rs
  ports:
    - 1247:1247
  tty: true
  volumes_from:
    - aegisdata

rs:
  build: irods3.3.1-rs
  env_file: env.properties
  hostname: rs
  tty: true
  volumes_from:
    - rsdata

icommands:
  build: icommands3.3.1
  env_file: env.properties
  links:
    - ies
