data:
  image: tianon/true
  volumes:
    - /home/irods/aegisVault
    - /rsVault
    - /var/lib/postgresql/data

amqp:
  image: rabbitmq:3.5-management
  hostname: amqp
  env_file: env.properties

dbms:
  build: .
  dockerfile: dbms.Dockerfile
  hostname: dbms
  env_file: env.properties
  mem_limit: 2g
  volumes:
    - /sys/fs/cgroup:/sys/fs/cgroup:ro 
  volumes_from:
    - data

base:
  build: .
  dockerfile: base-3.3.1.Dockerfile

server:
  build: .
  dockerfile: server-3.3.1.Dockerfile

ies:
  build: .
  dockerfile: ies-3.3.1.Dockerfile
  env_file: env.properties
  hostname: ies
  links:
    - amqp
    - dbms
    - rs
  ports:
    - 1247:1247
  tty: true
  volumes_from:
    - data

rs:
  build: .
  dockerfile: rs-3.3.1.Dockerfile
  env_file: env.properties
  hostname: rs
  tty: true
  volumes_from:
    - data

icommands:
  build: .
  dockerfile: icommands-3.3.1.Dockerfile
  env_file: env.properties
  links:
    - ies
