dbmsdata:
  build: .
  dockerfile: dbms-data.Dockerfile
  volumes:
    - /dbms-data:/var/lib/postgresql/data

rsdata:
  build: .
  dockerfile: rs-data.Dockerfile
  volumes:
    - /rs-data:/home/irods/iRODS/Vault

dbms:
  image: "postgres:9.3"
  env_file: env.properties
  hostname: dbms
  volumes_from:
    - dbmsdata

ies:
  build: irods3.3.1-ies
  env_file: env.properties
  hostname: ies
  links:
    - dbms
    - rs
  ports:
    - "1247:1247"
  tty: true

rs:
  build: irods3.3.1-rs
  env_file: env.properties
  hostname: rs
  tty: true
  volumes_from:
    - rsdata

icommands:
  build: icommands3.3.1
  env_file: env.properties
  links:
    - ies
